<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Tournois<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Classement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Matchs</a>
      </li>
      <li class="nav-item dropdown" style="float:right;">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Inscription</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item"routerLink="/inscription">Gérant </a>
          <a class="dropdown-item" href="#">Joueur</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
