<form action="/action_page.php">

Info Sociétée
<hR>
  <br/>
<div class="form-group">
  <label for="name">*Nom de la sociétée:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
    <label for="text">*N° TVA:</label>
    <input type="text" class="form-control" id="txt">
  </div>
<div class="form-group">
  <label for="city">*Ville:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*Localité:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*Rue:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*N°:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*Code Postal:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*Heure d'ouverture:</label>
  <input type="text" class="form-control" id="txt">
</div>
<div class="form-group">
  <label for="text">*Heure de fermeture:</label>
  <input type="text" class="form-control" id="txt">
</div>


<div class="alert alert-primary" role="alert">
  <button type="button" class="btn btn-light" routerLink="/ajoutsalle">+</button>
       Cliquer pour ajouter une salle
      </div>


<div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox"> Possedez-vous des douches ?
  </label>
</div>
<button type="submit" class="btn btn-primary">Envoyer</button>

</form>
