<div class="col col-lg-8 mx-auto">
<form  >
  <br/>
  Salle
  <hR>
    <br/>
  <div class="form-group">
      <label for="number">*Numéro de la salle:</label>
      <input type="number" class="form-control" id="txt">
    </div>
    <div class="form-group">
        <label for="floor">*Etage:</label>
        <input type="number" class="form-control" id="txt">
      </div>
  <div class="form-group">
    <label for="lengthField">*Longueur du terrain:</label>
    <input type="number" class="form-control" id="txt">
  </div>
  <div class="form-group">
      <label for="widthField">*Largeur du terrain:</label>
      <input type="number" class="form-control" id="txt">
    </div>
  <br/>
  <br/>
  <button type="button" (click)="addHall()" class="btn btn-primary" >Fin</button>
</form>
</div>
